<!DOCTYPE html>
<html>
  <head>
    <title>Select Folder</title>
    <link rel="stylesheet" href="./ejsStyle.css" />
  </head>
  <body>
    <h2 style="font-family: Arial, Helvetica, sans-serif">
      Select a Folder in Google Drive
    </h2>
    <form action="/save-folder" method="post">
      <input type="hidden" name="resourceUrl" value="<%= resourceUrl %>" />
      <select
        name="folderId"
        style="font-family: Arial, Helvetica, sans-serif; font-size: 1.5rem"
      >
        <% folders.forEach(folder => { %>
        <option value="<%= folder.id %>"><%= folder.name %></option>
        <% }) %>
      </select>
      <button
        type="submit"
        style="
          background-color: #007bff;
          border: none;
          border-radius: 5px;
          color: white;
          margin: 5px;
          padding: 0.1rem, 0.5rem;
        "
      >
        <h3>Save Folder</h3>
      </button>
    </form>
  </body>
</html>
